.userImg {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  object-fit: contain;
}

@media (max-width: 30em) {
  .recipesList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
  }
}

@media screen and (min-width: 30em) {
  .recipesList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-content: center;
  }
}

.headerMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logout {
  width: fit-content;
}

// .default-user-img {
//   width: 5em;
//   height: 5em;
// }
